# -*- conf -*-


# Copyright (c) 2019-2022, Maciej Barć <xgqt@riseup.net>
# Licensed under the GNU GPL v2 License


*.swp
*~
,*
.idea/
.vscode/
.~lock.*

/.ebuild.x
/distfiles/
/eclass/*.5
/local/
/packages/
/profiles/use.local.desc
metadata/md5-cache/
