# See gitmailmap(5) for format details.
Maciej Barć <xgqt@gentoo.org> <xgqt@protonmail.com>
Maciej Barć <xgqt@gentoo.org> <xgqt@riseup.net>
Maciej Barć <xgqt@gentoo.org> <xgqt@xgqt.org>
Maciej Barć <xgqt@gentoo.org> XGQT <4181308-xgqt@users.noreply.gitlab.com>
