# -*- conf -*-

# Documentation: https://github.com/koalaman/shellcheck/wiki

external-sources=true

# https://github.com/koalaman/shellcheck/wiki/SC1090
disable=SC1090

# Sometimes Shellcheck thinks those paths do not exist, even if annotated.
# https://github.com/koalaman/shellcheck/wiki/SC1091
disable=SC1091

# https://github.com/koalaman/shellcheck/wiki/SC2155
disable=SC2155

enable=add-default-case
enable=avoid-nullary-conditions
enable=check-set-e-suppressed
enable=deprecate-which
enable=require-variable-braces
